<section id="main-content">
    <section class="wrapper" ng-controller="UserEvents" ng-init="getData()">
        <div ng-init ="initCal()">
        <div style="height:350px;width:1050px;" align = "center">
            <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
                <div class="dhx_cal_navline">
                    <div class="dhx_cal_prev_button">
                        &nbsp;
                    </div>
                    <div class="dhx_cal_next_button">
                        &nbsp;
                    </div>
                    <div class="dhx_cal_today_button">
                    </div>
                    <div class="dhx_cal_date">
                    </div>
                    <div class="dhx_cal_tab" name="day_tab" style="right:204px;">
                    </div>
                    <div class="dhx_cal_tab" name="week_tab" style="right:140px;">
                    </div>
                    <div class="dhx_cal_tab" name="month_tab" style="right:76px;">
                    </div>
                </div>
                <div class="dhx_cal_header">
                </div>
                <div class="dhx_cal_data">
                </div>
            </div>
        </div>
        <div>
            <div>
               <!-- <highchart id="container2" config="eventsChart">
                </highchart>-->
            </div>
        </div><br/><br/><br/><br/><br/>

        <div ng-if="noEvents==true">
        <h4> No Events  in next three days</h4>
        </div>
            <div ng-if="noEvents!=true">
            <div align = "center"> Average Electricity consumption by nearby Events</div><br/><br/><br/>
        <div class="progress"  data-ng-repeat="h in e">
            <div>
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{h.hc/10}}%">
               {{h.hc/10}} % on {{h.sd}} &nbsp;
            </div>
            </div>
        </div>
            </div>
        </div>
    </section>

</section>
