<!--main content start-->
<section id="main-content" ng-controller="ClientDashboard" ng-init="getData()">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <i class="fa fa-user-md">
                    </i>
                    Dashboard
                </h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home">
                        </i>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-user-md">
                        </i>
                        Dashboard
                    </li>
                </ol>
            </div>
            <div class="row">
                <!-- profile-widget -->
                <div class="col-lg-12">
                    <div class="profile-widget profile-widget-info">
                        <div class="panel-body">
                            <div class="col-lg-2 col-sm-2">
                                <div class="follow-ava">
                                    <img alt="" src="img/clientlogo.jpeg">
                                    </img>
                                </div>
                                <h6>
                                    Hello {{clientProperties.fname}}
                                </h6>
                            </div>
                            <div class="col-lg-2 col-sm-6 follow-info weather-category">
                                 <div ng-controller="ClientDashboard" ng-init="clientPowerStatus()" align="center">
                                        Power Outage Status:
                                       Critical
                                        <div ng-if="powerStatus=='Red'">
                                            <div class="w3-card-24 w3-red" style="width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px">
                                                <p>
                                                    Power Outage predicted in next week
                                                </p>
                                            </div>
                                        </div>
                                     <div ng-if="powerStatus=='Green'">
                                         <div class="w3-card-24 w3-green" style="width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px">
                                             <p>
                                                No Outages in this area
                                             </p>
                                         </div>
                                     </div>
                                        <div ng-if="powerStatus=='Yellow'">
                                            <div class="w3-card-24 w3-yellow" style="width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px">
                                                <p>
                                                    Maintenance in Progres
                                                </p>
                                            </div>
                                        </div>

                                        <div align = "center"><button type="button" class="btn btn-primary" ng-click="sendMail()">Send Notifications</button></div>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" align = "center">
                <h3 class="page-header">
                    <i class="fa fa-user-md">
                    </i>
                    Weather Summary
                </h3>
                <div id="chartsDiv" ng-controller="ClientDashboard">
                    <div id="loading" style="margin-top: 100px; text-align: center">
                        <!-- <button ng-click="getWeatherData()">
                            Get Weather Data
                        </button> -->
                    </div>
                </div>
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <!--  I have added here -->
                            <!-- profile -->
                            <div class="tab-pane" id="profile">
                                <section class="panel">
                                    <div class="bio-graph-heading">
                                        Your Information
                                    </div>
                                    <div class="panel-body bio-graph-info">
                                        <h1>
                                            Bio Graph
                                        </h1>
                                        <div class="row">
                                            <div class="bio-row">
                                                <p>
                                                    <span>
                                                        First Name
                                                    </span>
                                                    : {{clientProperties.fname}}
                                                </p>
                                            </div>
                                            <div class="bio-row">
                                                <p>
                                                    <span>
                                                        Last Name
                                                    </span>
                                                    : {{clientProperties.lname}}
                                                </p>
                                            </div>
                                            <div class="bio-row">
                                                <p>
                                                    <span>
                                                        Address
                                                    </span>
                                                    : {{clientProperties.address}}
                                                </p>
                                            </div>
                                            <div class="bio-row">
                                                <p>
                                                    <span>
                                                        ZipCode
                                                    </span>
                                                    : {{clientProperties.zipcode}}
                                                </p>
                                            </div>
                                            <div class="bio-row">
                                                <p>
                                                    <span>
                                                        City
                                                    </span>
                                                    :  {{clientProperties.city}}
                                                </p>
                                            </div>
                                            <div class="bio-row">
                                                <p>
                                                    <span>
                                                        Mobile
                                                    </span>
                                                    : {{clientProperties.phonenumber}}
                                                </p>
                                            </div>
                                            <div class="bio-row">
                                                <p>
                                                    <span>
                                                        Email
                                                    </span>
                                                    :{{clientProperties.email}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-controller="ClientDashboard" ng-init="clientPowerStatus()" align="center">
                                        Power Outage Status:
							           Critical
                                        <div ng-if="powerStatus=='Red'">
                                            <div class="w3-card-24 w3-red" style="width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px">
                                                <p>
                                                    Power Outage predicted in next week
                                                </p>
                                            </div>
                                        </div>
                                        <div ng-if="powerStatus=='Green'">
                                            <div class="w3-card-24 w3-green" style="width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px">
                                                <p>
                                                    No Power Outages
                                                </p>
                                            </div>
                                        </div>
                                        <div ng-if="powerStatus=='Yellow'">
                                            <div class="w3-card-24 w3-yellow" style="width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px">
                                                <p>
                                                    Maintenance in Progres
                                                </p>
                                            </div>
                                        </div>
                                      <!--  <div ng-if="{{powerStatus}}=='Green'">
                                            <div class="w3-card-24 w3-green" style="width: 150px;
  height: 100px;
  margin: 16px;
  padding: 16px">
                                                <p>
                                                    No Outages and maintenance needed
                                                </p>
                                            </div>
                                        </div>-->

                                    </div>
                                    <div align = "center"><button type="button" class="btn btn-primary" ng-click="sendMail()">Send Notifications</button></div>

                                </section>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--main content end-->
</section>