

<!--main content start-->
<section id="main-content" ng-controller="eventsController"
	ng-init="getData()">

	<section class="wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">
					<i class="fa fa-user-md"></i> Events
				</h3>
				<ol class="breadcrumb">
					<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
					<li><i class="fa fa-user-md"></i>Events</li>
				</ol>
			</div>
		</div>

		<table st-table="allEvents" class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>Predicted Head Count</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in allEvents">
					<td>{{row.date | date}}</td>
					<td>{{row.time }}</td>
					<td>{{row.name }}</td>
					<td>{{row.address }}</td>
					<td>{{row.city }}</td>
					<td>{{row.predictedHeadCount }}</td>
					
				</tr>
			</tbody>
		</table>
		<div  align="center" class="col-lg-12">
			<div  >
			<nvd3 options="options" data="data"></nvd3>
			<highchart id="container" config="chart2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
		</highchart>

			</div>
		</div>
	</section>
	<!--main content end-->
