

<!--main content start-->
<section id="main-content" ng-controller="eventsController"
	ng-init="getData()">

	<section class="wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">
					<i class="fa fa-user-md"></i> Events
				</h3>
				<ol class="breadcrumb">
					<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
					<li><i class="fa fa-user-md"></i>Events</li>
				</ol>
			</div>
		</div>
		
		<!-- High Chart for temerature variation -->
		<!-- <div id="container" style="width:100%; height:400px;"></div> -->
 		<!-- <input ng-model="highchartsNG.title.text">
        <button ng-click="addSeries()">Add Series</button>
        <button ng-click="addPoints()">Add Points to Random Series</button>
        <button ng-click="removeRandomSeries()">Remove Random Series</button>
        <button ng-click="swapChartType()">Line/Bar</button>
		<highchart id="container1" config="chart2"></highchart>
		
		<highchart id="container" config="chart1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
		</highchart> -->

		<!-- page start-->
		
	</section>
	<!--main content end-->