<section id="main-content" ng-controller="HistoryAnalysis">
    <section class="wrapper">

        <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <h5>
                                <strong>Simulate Equipment Failure</strong>
                            </h5>
                        </div>
                </div><br/>
                    </div>
                <div class="row" style="padding-top: 2%;">
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <h5>
                                <strong>Value</strong>
                            </h5>
                        </div>
                        <div class="col-xs-2">
                            <input type="text" name="eVal" ng-model="email"
                                   class="form-control" placeholder="  ">
                        </div>
                    </div>

                </div>
        </div>
</section>
    </section>